<div class="header bg-light p-5 m-0">
    <p class="display-4 pt-5 text-center text-light">Change starts here</p>
    <hr class="my-4" />
    
    <div class="headerSearchField input-group justify-content-center">
        <label for="headerFormControlInput"></label>
        <input type="text" class="form-control rounded form-control-lg col-sm-6" id="headerFormControlInput" placeholder="Enter an address, neighborhood, city, or ZIP code">
        <button class="btn btn-primary" type="button" id="headerSearchButton">Search</button>
    </div>
</div>