<div>
    <app-navbar></app-navbar>
</div>
<main>

    <div id="navigation" class="home-page-container">
        <app-jumbotron></app-jumbotron>
    </div>

    <div class="cta-container p-5 bg-light">
        <div class="cta-title">
            <h5 class="text-center">Whether you're buying, selling or renting, we can help you move forward.</h5>
        </div>
        <div class="cta-cards">
            <app-cta-cards></app-cta-cards>
        </div>
    </div>

    <div class="home-listing-container">
        <div class="home-listing-title pt-5">
            <h5 class="text-center">Explore New Homes</h5>
            <span>Take a deep dive and browse homes for sale,
                original neighborhood photos, resident reviews,
                and local insights to find what's right for you.
            </span>
        </div>
    </div>

</main>
<!-- <router-outlet></router-outlet> -->