<div class="cards d-flex flex-row justify-content-around mt-5 pl-5 pr-5 pb-5">
    <div class="card text-center" style="width: 18rem">
        <img src="" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">Some quick text to build the card</p>
            <a href="#" class="btn btn-secondary">Search homes</a>
        </div>
    </div>
    
    <div class="card text-center" style="width: 18rem">
        <img src="" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">Some quick text to build the card</p>
            <a href="#" class="btn btn-secondary">Search homes</a>
        </div>
    </div>
    
    <div class="card text-center" style="width: 18rem">
        <img src="" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">Some quick text to build the card</p>
            <a href="#" class="btn btn-secondary">Search homes</a>
        </div>
    </div>
</div>
