nav {
    padding: 10px 100px;
    ul {
        li {
            padding: 15px;
            a {
                color: #000;
                font-size: 16px;
                letter-spacing: 1px;
                font-weight: 500;
                &:hover {
                    color: #1a31fc;
                }
            }
        }
    }
}