<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form class="signin-form">
        <mat-form-field class="form-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput [formControl]="signinFormControl" [errorStateMatcher]="matcher" placeholder="Ex. HomeOwner">
            <mat-error *ngIf="signinFormControl.hasError('username') && !signinFormControl.hasError('required')">
                Please enter a valid username
            </mat-error>
            <mat-error *ngIf="signinFormControl.hasError('required')">
                A username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>
